<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="shortcut icon" href="img/logo_atelie.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styleLogin.css">
</head>
<body>
    
<!-- main container -->
    <div class="container d-flex justify-content-center align-items-center min-vh-100">

<!-- login container -->
        <div class="row border rounded-5 p-3 bg-white shadow box-area">

<!-- caixa esquerda -->

        <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column caixa-esquerda" style="background: #FCD0EA;">
            <div class="featured-image mb-3">
                <img class="logoEsquerdo img-fluid" style="width: 450px;" src="/assets/loginP/logoAtelie.png" alt="">
            </div>

        </div>
<!-- caixa direita -->
        
        <div class="col-md-6 caixa-direita">
            <div class="row align-items-center">
                <div class="header-text mb-4 text-center">
                </div>
               
                <div class="mb-4">
                    <label for="inputEmail" class="form-label fw-semibold"> CONFIRME SEU EMAIL:</label>
                    <input type="email" id="inputEmail" class="form-control"  placeholder="Digite Seu Email" required>
                  </div>

                <div class="row mb-4">
                    <div class="col">
                      <label for="inputPassword" class="form-label fw-semibold">SENHA:</label>
                      <input type="password" id="inputPassword" class="form-control"placeholder="Digite Sua Senha" required>
                    </div>

                    <div class="col mb-5">
                      <label for="inputPasswordConfirm" class="form-label fw-semibold">CONFIRME SUA SENHA:</label>
                      <input type="password" id="inputPasswordConfirm" class="form-control" placeholder="Confirme Sua Senha" required>
                    </div>

                    <a class="  mx-auto  btn btn-lg btn-light w-100 fs-6 "href="/loginPage/index.html" role="button" aria-disabled="true">CONFIRMAR</a>
                  </div>
                  
                <div class="input-group mb-5 d-flex justify-content-between">
                    
            </div>
        </div>

        </div>

    </div>















    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>