<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Produtos</title>
  <link rel="stylesheet" href="/css/styleFuncionario.css">
</head>

<body>
  <div class="container">
    <h1>Lista de Mensagens</h1>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Email</th>
          <th>Mensagem</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="contato : ${contatos}">
          <td th:text="${contato.id}">ID</td>
          <td th:text="${contato.nome}">Nome</td>
          <td th:text="${contato.email}">E-mail</td>
          <td th:text="${contato.mensagem}">Mensagem</td>
   
        </tr>
      </tbody>
    </table>
    <a th:href="@{/}">Voltar a página principal</a>
  </div>
</body>

</html>